<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="quest" class="uk.raj.testSpring.Quest">
		<constructor-arg type="int" value="1"></constructor-arg>
		<constructor-arg type="java.lang.String" value="BA"></constructor-arg>
	</bean>
	<bean id="knight" class="uk.raj.testSpring.BraveKnight">
		<constructor-arg ref="quest"></constructor-arg>
	</bean>
</beans>
